<!-- Image and text -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" [routerLink]="['/']" >
    <img src="./../../assets/imgs/cartola.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Cartola do Clã
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    
  </div>
</nav>
