<!-- Image and text -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <span class="navbar-brand" >
    <img src="./../../assets/imgs/cartola.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Cartola do Clã
  </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" data-toggle="collapse" data-target=".navbar-collapse.show">Regras</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/confrontos" data-toggle="collapse" data-target=".navbar-collapse.show">Confrontos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/campeoes" data-toggle="collapse" data-target=".navbar-collapse.show">Campeões</a>
      </li>
    </ul>
  </div>
</nav>
