<mat-card class="regras-card">
    <mat-card-header>
      <mat-card-title>Regras do Clã</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p><strong>1</strong> - TODOS DEVERÃO PAGAR R$20,00 PARA O INÍCIO DO CAMPEONATO</p>
        <p><strong>2</strong> - O PODER DA FOTO FICA COM O LÍDER DA RODADA, ATÉ O FIM DA RODADA SEGUINTE</p>
        <p><strong>3</strong> - OS ÚLTIMOS 4 PAGAM 10,00, SENDO QUE O LANTERNA PAGA 15,00</p>
        <p><strong>4</strong> - O PAGAMENTO DEVERÁ SER FEITO ATÉ O FECHAMENTO DO MERCADO DA RODADA SEGUINTE</p>
        <p><strong>5</strong> - O ATRASO NO PAGAMENTO DEVERÁ SER PENALIZADO COM A EXCLUSÃO DO GRUPO. CASO QUEIRA VOLTAR, TERÁ DE PAGAR O VALOR DEVIDO, MAIS A TAXA DE 20,00</p>
        <p><strong>6</strong> - QUEM EFETUAR O PAGAMENTO É RESPONSÁVEL POR POSTAR NO GRUPO O COMPROVANTE DE PAGAMENTO <i><strong>E</strong></i> ATUALIZAR O VALOR NA DESCRIÇÃO DO CLÃ DE ACORDO COM O PAGAMENTO EFETUADO</p>
    </mat-card-content>
  </mat-card>